.first {
  display: flex;
  flex-direction: row;
  margin: 10px, 10px;
}

i {
  color: #3d6abe;
}

.first-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;

  /* padding-left: 40px; */
}
